@font-face {
    src: url("fonts/CondorVariable-VF-Edu.woff2") format("woff2"),
        url("fonts/CondorVariable-VF-Edu.ttf") format('truetype');

    font-family: 'Condor Variable';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-image: url("images/building.svg");
    background-size: cover;

    font-family: 'Condor Variable';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 110ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

/* @media only screen and (min-width:800px){ */
/* .page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
} */
.hero {
    width:100%;
    display: grid;
    grid-gap: 0%;
    font-size: 180%;
    padding:10px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        ". . . . . . . . q q . r ."
        ". . . . . . d d . . . . ."
        ". . o o o . . . . . . . ."
        ". . . . n n n . . . . . ."
        "c c c . . . . . . . . . .";
        
}

.c {
    grid-area: c;
    margin: -90px;
    font-weight: bolder;
}
.first-o{
    grid-area: o;
    margin: -10px;
    font-weight: bolder;
}
.n {
    grid-area: n;
    margin: 20px;
    font-weight: bolder;
}
.d {
    grid-area: d;
    margin:-120px;
    font-weight: bolder;
}
.second-o {
    grid-area: q;
    margin:100px;
    font-weight: bolder;
}
.r {
    grid-area: r;
    margin:100px;
    font-weight: bolder;

}

h1{
color: white;
}

h2{
    color: white;
    }

 h3{
    color: white;
        }

h4{
    color: #FFF438;
    }

h5{
        color: #000000;
        text-align: center;
        font-size: 270%;
        }

#history {
    width: min(100% - 20rem, 99ch);
    margin-top:250px;
    margin-left: 30%;
    text-align: center;

/* grid-area: h; */
}

#languages{
    width: min(100% - 40rem, 50ch);
    margin: 9%;
    margin-left: 30%;
    
    
}

#alphabet {
margin: -1%;
margin-left: 20%;
text-align: center;
font-size: 150%;
font-stretch:ultra-expanded;
}

/* CSS for the footer */
footer{
    text-align: center;
    color: #FFF438;
    margin-bottom: 100;
    font-size: 500%;
}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        /* font-variation-settings: "wght" 1000, "wdth" 50, "ital" 0; */
        opacity: 1;
    }
    50%{
        /* font-variation-settings: "wght" 70, "wdth" 70, "ital" 0; */
        opacity: 0;
    }
    }
    

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

